<div class="cover-container bg-whitesmoke d-flex w-100 h-100 p-3 mx-auto flex-column">

  <main class="px-3 mt-auto">
    <h1>Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
  <section class='page_404 w-75 mx-auto'>
		<div class='row'>
			<div class='col-sm-12'>
				<div class='col-sm-10 col-sm-offset-1 text-center'>
					<div class='four_zero_four_bg'>
						<h1 class='text-center'>404</h1>
					</div>
					<div class='contant_box_404'>
						<h3 class='h2'>Add new products</h3>
						<a href='/add' class='btn btn-primary btn-lg mb-5'>Add products</a>
					</div>
				</div>
			</div>
		</div>
	</section>


</div>